:root {
    --text-color: #333333;

    --button-font-color: #FFFFFF;
    --button-font-size: 1.25em;
    --button-radius: 8px;
    --button-padding: 16px 0px;
    --button-font-letter-spacing: -0.48px;

    --form-icon-size: 128px;
}

@font-face {
    font-family: SF;
    src: url("../res/fonts/SFPro-Light.otf");
}

@font-face {
    font-family: SF;
    src: url("../res/fonts/SFPro-Medium.otf");
    font-weight: bold;
}

html {
    background: #FFFFFF;
    font-family: SF;
    padding: 20px;
}

body {
    color: var(--text-color);
    width: 88.4%;
    margin-top: 2.9%;
    margin-left: 5.8%;
    margin-right: 5.8%;
}

#features {
    margin: 25px 0px;
    width: 100%;
    overflow: auto;
}

.feature {
    float: left;
}

.feature > p, .feature > h2 {
    font-size: 1.1em;
    margin-left: 30%;
    margin-top: 3%;
}

.feature > img {
    width: 17.5%;
    float: left;
    margin: 2% 6% 2% 10%;
}

h1 {
    font-size: 2.75em;
    font-weight: bold;
    margin-bottom: 10px;
}

a {
    display: block;

    border: none;
    background: #AAAAAA;
    border-radius: var(--button-radius);
    text-align: center;
    margin: 6px 0;//11.6%;
    padding: var(--button-padding);

    font-size: var(--button-font-size);
    color: var(--button-font-color);
    letter-spacing: var(--button-font-letter-spacing);
    text-decoration: none;
}

#buttons {
    margin-top: 24px;
}

#entryimg {
    max-width: 100%;
    display: block;
    margin: 8px auto;
}

form {
    width: 100%;
}

form > input {
  display: block;
  width: 100%;
}

form > input[type=text], form > input[type=password], form > input[type=email], form > input[type=date], form > input[type=submit] {
    background: #BBBBBB;
    padding: 12px 20px;
    margin: 4px 0 16px 0;
    box-sizing: border-box;
    border: 0;
    border-radius: 8px;
}

form > input[type=text]::placeholder, form > input[type=password]::placeholder, form > input[type=email]::placeholder, form > input[type=date]::placeholder {
    color: #585858;
}

form > input[type="radio"] {
  width: auto;
  display: inline-block;
  margin: 0.45% 0.4%;
}

form > input[type=submit] {
    background: #007AFF;
    margin-top:1.5%;
    font-family: SF;
    font-size: var(--button-font-size);
    color: var(--button-font-color);
    letter-spacing: var(--button-font-letter-spacing);
    text-decoration: none;
    cursor: pointer;
    border-radius: var(--button-radius);
    padding: var(--button-padding);
}

#selectimg {
    display: block;
    width: var(--form-icon-size);
    height: var(--form-icon-size);
    margin: 16px auto;
}

#selectimg img {
    width: var(--form-icon-size);
    height: var(--form-icon-size);
    position: absolute;
    border-radius: 50%;
    z-index: 0;
}

#selectimg input {
    opacity: 0;
    position: absolute;
    width: var(--form-icon-size);
    height: var(--form-icon-size);
    z-index: 1;
}

.notification {
    display: block;
    position: relative;
    border-radius: 4px;
    background: blue;
    border-radius: 12px;
    width: 90%;
    height: 100%;
    margin: 32px 4%;
}

.notifheader {
    border-radius: 4px 4px 0px 0px;
    height: 80px;
    letter-spacing: -0.08px;
    background: red;
}

.notifheader > img {
    height: 64px;
    width: 64px;
    float: left;
    margin: 8px;
}

.notifheader > h1 {
    font-size: 48px;
    display: inline-block;
    margin: 0px 8px;
    line-height: 80px;
    color: #8A8A8F;
    letter-spacing: -0.08px;
}

.notifheader > p {
    font-size: 24px;
    line-height: 80px;
    float: right;
    margin-right: 28px;
}

.text_blue {
    color: #007AFF;
}

.text_yellow {
    color: #E4AF09;
}

.text_red {
    color: #FF0000;
}

.background_blue {
    background: #007AFF;
}

.background_yellow {
    background: #E4AF09;
}
