@font-face {
    font-family: SF;
    src: url("../res/fonts/SFPro-Light.otf");
}

@font-face {
    font-family: SF;
    src: url("../res/fonts/SFPro-Medium.otf");
    font-weight: bold;
}

* {
    padding: 0;
    margin: 0;
    font-family: SF;
}
body {
    height: 100%;
}

html {
    height: 100%;
}

#timedate {
    background-color: slategray;
    text-align: center;
    width: 100%;
    padding: 10px 0;
    font-size: 30pt;
}

#timedate h1 {
    font-family: SF;
    font-size: 106px;
    color: #FFFFFF;
    letter-spacing: 0;
    line-height: 106px;
}

#timedate p {
    opacity: 0.9;
    font-family: SF;
    font-size: 24px;
    color: #FFFFFF;
    letter-spacing: 0.17px;
    line-height: 40.5px;
}

#notifications {
	height: 75%;
}

.notification {
    display: block;
    position: relative;
    border-radius: 4px;
    background: rgba(200,200,200,0.5);
    border-radius: 12px;
    width: 92%;
    min-height: 50%;
    text-align: left;
    margin: 16px 4% 100px 4%;
    min-height: 480px;
    font-size: 12px;
}

.notification > img {
	display: block;
	width: 28%;
	position: relative;
	float: left;
	margin: 16px;
}

.notification > h1 {
  font-size: 5em;
  margin: 4px 0px 2px 28%;
  padding-left: 16px;
  color: #000000;
  letter-spacing: -0.53px;
}

.notification > p {
  font-size: 4em;
  margin: 4px 0px 0px 28%;
  padding-left: 16px;
  text-align: left;
  color: #000000;
  letter-spacing: -0.24px;
}

.notifheader {
    border-radius: 4px 4px 0px 0px;
    height: 80px;
    letter-spacing: -0.08px;
}

.notifheader > img {
    height: 64px;
    width: 64px;
    display: relative;
    float: left;
    margin: 8px;
}

.notifheader > h1 {
    font-size: 3em;
    display: inline-block;
    margin: 0px 8px;
    line-height: 80px;
    color: #8A8A8F;
    letter-spacing: -0.08px;
}

.notifheader > p {
    font-size: 24px;
    line-height: 80px;
    float: right;
    margin-right: 28px;
}

#widgets {

}

.widget {
    float: left;
    display: inline-block;
    position: relative;
    border-radius: 4px;
    background: rgba(248,248,248,0.82);
    border-radius: 12px;
    width: 42%;
    height: 37.5%;
    text-align: left;
    margin: 50px 4%;
}

.widget > img {
	display: block;
	height: 250px;
    width: 250px;
	position: relative;
	float: left;
	margin: 16px;
}

.widget > h1 {
  font-size: 64px;
  margin: 4px 0px 2px 84px;
  color: #000000;
  letter-spacing: -0.53px;
}

.widget > p {
  font-size: 48px;
  margin: 4px 0px 0px 84px;
  text-align: left;
  color: #000000;
  letter-spacing: -0.24px;
}
