@font-face {
    font-family: SF;
    src: url("../res/fonts/SFPro-Light.otf");
}

@font-face {
    font-family: SF;
    src: url("../res/fonts/SFPro-Medium.otf");
    font-weight: bold;
}

@font-face {
    font-family: 'weather';
    src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/artill_clean_icons-webfont.eot');
    src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/artill_clean_icons-webfont.eot?#iefix') format('embedded-opentype'),
         url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/artill_clean_icons-webfont.woff') format('woff'),
         url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/artill_clean_icons-webfont.ttf') format('truetype'),
         url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/artill_clean_icons-webfont.svg#artill_clean_weather_iconsRg') format('svg');
    font-weight: normal;
    font-style: normal;
}

* {
    padding: 0;
    margin: 0;
    font-family: SF;
}
body {
    height: 100%;
}

html {
    height: 100%;
}

#timedate {
    background-color: slategray;
    text-align: center;
    width: 100%;
    padding: 10px 0;
    font-size: 30pt;
}

#timedate h1 {
    font-family: SF;
    font-size: 106px;
    color: #FFFFFF;
    letter-spacing: 0;
    line-height: 106px;
}

#timedate p {
    opacity: 0.9;
    font-family: SF;
    font-size: 24px;
    color: #FFFFFF;
    letter-spacing: 0.17px;
    line-height: 40.5px;
}

#notifications {
    height: 45%;
}

.notification {
    display: block;
    position: relative;
    border-radius: 4px;
    background: rgba(200,200,200,0.5);
    border-radius: 12px;
    width: 92%;
    text-align: left;
    margin: 16px 4% 16px 4%;
    min-height: 100%;
    font-size: 12px;
}

.notification > img {
	display: block;
	max-height: 30vh;
	position: relative;
	float: left;
	margin: 16px;
}

.notification > h1 {
  font-size: 5em;
  margin: 4px 0px 2px 0;
  padding-left: 16px;
  color: #000000;
  letter-spacing: -0.53px;
}

.notification > p {
  font-size: 4em;
  margin: 4px 0px 0px 0;
  padding-left: 16px;
  text-align: left;
  color: #000000;
  letter-spacing: -0.24px;
}

.notifheader {
    border-radius: 4px 4px 0px 0px;
    height: 80px;
    letter-spacing: -0.08px;
}

.notifheader > img {
    height: 64px;
    width: 64px;
    display: relative;
    float: left;
    margin: 8px;
}

.notifheader > h1 {
    font-size: 3em;
    display: inline-block;
    margin: 0px 8px;
    line-height: 80px;
    color: #8A8A8F;
    letter-spacing: -0.08px;
}

.notifheader > p {
    font-size: 24px;
    line-height: 80px;
    float: right;
    margin-right: 28px;
}

#widgets {

}

#widget_holiday {
    width: 54%;
}

#widget_weather {
    width: 20%;
    float: right;
}

.widget {
    float: left;
    display: inline-block;
    position: relative;
    border-radius: 4px;
    background: rgba(248,248,248,0.82);
    border-radius: 12px;
//    width: 42%;
    height: 37.5%;
    text-align: left;
    margin: 50px 4% 16px 4%;
    padding: 2%;
}

.widget > img {
	display: block;
	height: 16em;
    width: 16em;
	position: relative;
    margin: 2% auto;
}

.widget h2 {
  letter-spacing: -0.53px;
  text-align: center;
  margin: 0 auto;
  padding: 0;
}

i {
  color: black;
  font-family: weather;
  font-size: 24em;
  font-weight: normal;
  font-style: normal;
  line-height: 0.5em;
  margin: 0;
  padding: 0;
  text-transform: none;
}

.widget > h1 {
  font-size: 4em;
  margin: 1%;
  text-align: left;
  color: #000000;
  letter-spacing: -0.24px;
  text-align: center;
}


.icon-0:before { content: ":"; }
.icon-1:before { content: "p"; }
.icon-2:before { content: "S"; }
.icon-3:before { content: "Q"; }
.icon-4:before { content: "S"; }
.icon-5:before { content: "W"; }
.icon-6:before { content: "W"; }
.icon-7:before { content: "W"; }
.icon-8:before { content: "W"; }
.icon-9:before { content: "I"; }
.icon-10:before { content: "W"; }
.icon-11:before { content: "I"; }
.icon-12:before { content: "I"; }
.icon-13:before { content: "I"; }
.icon-14:before { content: "I"; }
.icon-15:before { content: "W"; }
.icon-16:before { content: "I"; }
.icon-17:before { content: "W"; }
.icon-18:before { content: "U"; }
.icon-19:before { content: "Z"; }
.icon-20:before { content: "Z"; }
.icon-21:before { content: "Z"; }
.icon-22:before { content: "Z"; }
.icon-23:before { content: "Z"; }
.icon-24:before { content: "E"; }
.icon-25:before { content: "E"; }
.icon-26:before { content: "3"; }
.icon-27:before { content: "a"; }
.icon-28:before { content: "A"; }
.icon-29:before { content: "a"; }
.icon-30:before { content: "A"; }
.icon-31:before { content: "6"; }
.icon-32:before { content: "1"; }
.icon-33:before { content: "6"; }
.icon-34:before { content: "1"; }
.icon-35:before { content: "W"; }
.icon-36:before { content: "1"; }
.icon-37:before { content: "S"; }
.icon-38:before { content: "S"; }
.icon-39:before { content: "S"; }
.icon-40:before { content: "M"; }
.icon-41:before { content: "W"; }
.icon-42:before { content: "I"; }
.icon-43:before { content: "W"; }
.icon-44:before { content: "a"; }
.icon-45:before { content: "S"; }
.icon-46:before { content: "U"; }
.icon-47:before { content: "S"; }
